<a href="https://colab.research.google.com/github/JulTob/SQL/blob/master/SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL
SQL in Colab.

# What are Databases and SQL?

Imagine you have a massive collection of information, like all the books in a library, or all the customers of a store. How do you keep it organized so you can quickly find what you need, add new information, or update existing details? That's where **databases** come in!

A database is essentially an organized collection of data. Think of it like a digital filing system that stores information in a structured way, usually in tables with rows and columns (like spreadsheets). This structure makes it easy to manage and work with large amounts of data efficiently.

Now, how do you interact with this organized data? You use a language called **SQL** (Structured Query Language). SQL is the standard language for managing and manipulating relational databases. With SQL, you can:

*   **Create** new databases and tables.
*   **Insert** new data into tables.
*   **Query** (ask questions of) the data to retrieve specific information.
*   **Update** existing data.
*   **Delete** data.

In short, if a database is the organized filing system, SQL is the language you use to talk to the filing system and get things done!

**You** can use the `sqlite3` library to work with SQLite databases directly in Colab. SQLite is a filebased database, so you don't need a separate database server.

In [12]:
import sqlite3
import pandas as pd

First, connect to a database. If the database file doesn't exist, it will be created.

In [13]:
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

Now you can execute SQL commands.

For example, let's create a table inside of our database, and insert some data.

## Creating Tables

To organize our data, we need to create tables in our database. The `CREATE TABLE` SQL statement is used for this purpose. When creating a table, you define:

*   **Table Name:** A unique name for your table (e.g., `patrons`, `books`, `borrowed_books`).
*   **Columns:** The individual data fields within each table. Each column needs:
    *   **Column Name:** A descriptive name (e.g., `patron_id`, `name`, `title`, `borrow_date`).
    *   **Data Type:** Specifies the type of data the column will hold (e.g., `INTEGER` for numbers, `TEXT` for strings, `REAL` for floating-point numbers). SQLite supports various data types.
    *   **Constraints:** Rules that enforce data integrity and relationships. Common constraints include:
        *   `PRIMARY KEY`: Uniquely identifies each row (as we discussed).
        *   `NOT NULL`: Ensures that a column cannot contain a NULL value.
        *   `UNIQUE`: Ensures that all values in a column are different.
        *   `FOREIGN KEY`: Establishes a link between data in two tables.

Here's the general syntax for creating a table:

In [14]:
cursor.execute('''
CREATE TABLE users (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER
    )
    ''')
conn.commit() # Pushes the data into the file, saving the results in long memory.

OperationalError: table users already exists

A table is a bit useless with no data inside. Let's write in some entries for our Users table

In [ ]:
cursor.execute("INSERT INTO users (name, age) VALUES ('Alice', 30)")
cursor.execute("INSERT INTO users (name, age) VALUES ('Bob', 25)")
cursor.execute("INSERT INTO users (name, age) VALUES ('Charlie', 17)")
cursor.execute("INSERT INTO users (name, age) VALUES ('Diana', 27)")
cursor.execute("INSERT INTO users (name, age) VALUES ('Eren', 29)")
cursor.execute("INSERT INTO users (name, age) VALUES ('Frieren', 99)")
cursor.execute("INSERT INTO users (name, age) VALUES ('Gandalf', 2000)")
cursor.execute("INSERT INTO users (name, age) VALUES ('Harry', 17)")
cursor.execute("INSERT INTO users (name, age) VALUES ('Ichigo', 17)")
cursor.execute("INSERT INTO users (name, age) VALUES ('Jotaro', 17)")
cursor.execute("INSERT INTO users (name, age) VALUES ('Katniss', 16)")
cursor.execute("INSERT INTO users (name, age) VALUES ('Logan', 17)")
cursor.execute("INSERT INTO users (name, age) VALUES ('Mario', NULL)") # Age can be unknown
cursor.execute("INSERT INTO users (name, age) VALUES ('Naruto', 16)")
cursor.execute("INSERT INTO users (name, age) VALUES ('Ororo', 23)")
cursor.execute("INSERT INTO users (name, age) VALUES ('Peter', 16)")
cursor.execute("INSERT INTO users (name, age) VALUES ('Roronoa', 19)")
cursor.execute("INSERT INTO users (name, age) VALUES ('Sakura', 16)")
cursor.execute("INSERT INTO users (name, age) VALUES ('Tintin', 25)")
cursor.execute("INSERT INTO users (name, age) VALUES ('Usopp', 17)")
cursor.execute("INSERT INTO users (name, age) VALUES ('Velma', 23)")
cursor.execute("INSERT INTO users (name, age) VALUES ('Willow', 35)")
cursor.execute("INSERT INTO users (name, age) VALUES ('Xena', 31)")
cursor.execute("INSERT INTO users (name, age) VALUES ('Yoshi', 6)")
cursor.execute("INSERT INTO users (name, age) VALUES ('Zuko', 13)")

conn.commit() # Save the changes

You can now consult (query) the data and extract (fetch) the results.

In [16]:
cursor.execute("""
  SELECT *
    FROM users;
  """)

### Why isn't the `id` included in the `INSERT` statement?

In the `CREATE TABLE` statement for the `users` table, we defined the `id` column as `INTEGER PRIMARY KEY`. In SQLite, when you declare a column as `INTEGER PRIMARY KEY`, it automatically becomes an alias for the `ROWID`. This means SQLite will automatically assign a unique, incremental integer value to this column for each new row inserted into the table.

So, you don't need to provide a value for the `id` column in your `INSERT` statements. SQLite handles it for you automatically, ensuring that each user has a unique identifier.

## Understanding Primary Keys

A **Primary Key** is a column or a set of columns in a database table that uniquely identifies each row (or record) in that table. Think of it like a unique ID number for each entry.

Here's why Primary Keys are important:

*   **Unique Identification:** They ensure that every row in the table can be uniquely identified, preventing duplicate records.
*   **Data Integrity:** They help maintain the integrity of the data by providing a reliable way to reference specific rows.
*   **Relationships:** They are crucial for establishing relationships between different tables in a database (as we saw with the `patron_id` and `book_id` in the `borrowed_books` table referencing the `patrons` and `books` tables).

In our library database example, `patron_id` in the `patrons` table and `book_id` in the `books` table are Primary Keys. Each patron has a unique `patron_id`, and each book has a unique `book_id`.

# Let's dive into SQL in Colab!

Have you ever wanted to organize and manage data in a structured way? That's where databases come in, and SQL (Structured Query Language) is the language we use to talk to them! In this Colab notebook, we'll explore how to use SQL right here, without needing any extra software.

The good news is that Python has a built-in library called `sqlite3` that lets us work with SQLite databases. Think of SQLite as a mini-database that lives in a single file (or even just in your computer's memory!). This makes it super convenient for learning and working with smaller datasets directly in Colab.

## Connecting to our Database

Before we can start organizing data, we need to connect to our database. Imagine this like opening a specific filing cabinet where we'll store our information.

When we connect, if the database file doesn't exist yet, `sqlite3` will kindly create it for us. We can even create a temporary database that only exists while our notebook is running by using `:memory:`.

## Giving Instructions with SQL

Now that we're connected, we can start giving our database instructions using SQL commands! This is where we tell it to create spaces for our data (tables) and put the actual information in (insert data).

## Building our Tables

Think of tables as spreadsheets within our database. Each table will hold a specific type of information, like a list of users, or a list of books in a library. To create a table, we use the `CREATE TABLE` command.

When we create a table, we need to decide:

*   **What to call the table:** A clear and descriptive name (like `users`, `books`, or `patrons`).
*   **What information goes in each row (Columns):** These are like the columns in a spreadsheet. For each column, we need to specify:
    *   **A name for the column:** What kind of data will be in this column (e.g., `name`, `age`, `title`).
    *   **The type of data:** Is it text (`TEXT`), a whole number (`INTEGER`), a number with decimals (`REAL`), etc.? SQLite is flexible with data types.
    *   **Any special rules (Constraints):** These are like rules to keep our data tidy and accurate. Some common ones are:
        *   `PRIMARY KEY`: This column will have a unique value for every single row â€“ like a student ID number!
        *   `NOT NULL`: This column *must* have a value; it can't be left empty.
        *   `UNIQUE`: Every value in this column must be different from the others.
        *   `FOREIGN KEY`: This links a column in this table to a column in *another* table, showing how they relate (like linking a borrowed book back to the patron who borrowed it).

Here's the basic recipe for creating a table:

## Asking Questions with SQL (Querying)

Once we have data in our tables, we'll want to retrieve it or ask questions about it. This is called querying, and we use the `SELECT` command for this. We can specify which columns we want to see and from which table.

After executing a `SELECT` query, we can fetch the results. `cursor.fetchall()` is like asking for all the rows that match our query.

## Adding Data from Pandas

If you're working with data in a pandas DataFrame, you can easily load that data into your SQLite database. This is super handy if you've already processed or cleaned your data using pandas. The `to_sql()` method makes this a breeze!

## Closing the Connection

When you're finished working with the database, it's good practice to close the connection. This is like properly closing that filing cabinet we talked about earlier. It frees up resources and ensures everything is saved correctly.

In [ ]:
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()

for row in rows:
    print(row)

You can also load data from a pandas DataFrame into the database.

In [ ]:
data = {'name': ['Charlie', 'David'], 'age': [35, 40]}
df = pd.DataFrame(data)

df.to_sql('users', conn, if_exists='append', index=False)

cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()

for row in rows:
    print(row)

Remember to close the connection when you're done.

In [ ]:
conn.close()

# Task
Explain how to use SQL in Colab by creating a library database with tables for patrons, books, and borrowed books, and demonstrate querying the data.

In [ ]:
cursor.execute('''
SELECT
    p.name AS patron_name,
    bb.patron_id
FROM
    borrowed_books bb
JOIN
    patrons p ON bb.patron_id = p.patron_id
''')

patrons_borrowed = cursor.fetchall()

for row in patrons_borrowed:
    print(row)

In [ ]:
conn = sqlite3.connect('library.db')
cursor = conn.cursor()

# Task
Explain how to use SQL in Colab by creating a library database with tables for patrons, books, and borrowed books, and demonstrate querying the data.

## Connect to database

### Subtask:
Establish a connection to a new SQLite database file for the library.

**Reasoning**:
Import the `sqlite3` library, connect to the database, and create a cursor.

## Create tables

### Subtask:
Define and create the `patrons`, `books`, and `borrowed_books` tables with appropriate columns and data types, including foreign key constraints for the `borrowed_books` table to link to `patrons` and `books`.

**Reasoning**:
Create the patrons, books, and borrowed_books tables with appropriate columns and foreign key constraints.

## Insert data

### Subtask:
Add some sample data into the `patrons` and `books` tables.

**Reasoning**:
Insert sample data into the patrons and books tables and commit the changes.

## Insert borrowed books data

### Subtask:
Add some sample data into the `borrowed_books` table, ensuring the foreign key constraints are satisfied.

**Reasoning**:
Insert sample data into the borrowed_books table, ensuring the foreign key constraints are satisfied by using existing patron_id and book_id values, and then commit the changes.

## Query data

### Subtask:
Write and execute SQL queries to demonstrate the relationships between the tables, for example, listing which books a specific patron has borrowed.

**Reasoning**:
Write and execute a SQL query to join the tables and list borrowed books, then fetch and display the results.

## Close connection

### Subtask:
Close the database connection.

**Reasoning**:
Call the close method on the database connection object to close the connection.

## Connect to database

### Subtask:
Establish a connection to a new SQLite database file for the library.

**Reasoning**:
Import the `sqlite3` library, connect to the database, and create a cursor.

In [ ]:
import sqlite3

conn = sqlite3.connect('library.db')
cursor = conn.cursor()

## Create tables

### Subtask:
Define and create the `patrons`, `books`, and `borrowed_books` tables with appropriate columns and data types, including foreign key constraints for the `borrowed_books` table to link to `patrons` and `books`.

**Reasoning**:
Create the patrons, books, and borrowed_books tables with appropriate columns and foreign key constraints.

In [ ]:
cursor.execute('''
CREATE TABLE patrons (
    patron_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    email TEXT
)
''')

cursor.execute('''
CREATE TABLE books (
    book_id INTEGER PRIMARY KEY,
    title TEXT NOT NULL,
    author TEXT,
    isbn TEXT UNIQUE
)
''')

cursor.execute('''
CREATE TABLE borrowed_books (
    borrow_id INTEGER PRIMARY KEY,
    patron_id INTEGER,
    book_id INTEGER,
    borrow_date TEXT,
    FOREIGN KEY (patron_id) REFERENCES patrons(patron_id),
    FOREIGN KEY (book_id) REFERENCES books(book_id)
)
''')

conn.commit()

## Insert data

### Subtask:
Add some sample data into the `patrons` and `books` tables.

**Reasoning**:
Insert sample data into the patrons and books tables and commit the changes.

In [ ]:
cursor.execute("INSERT INTO patrons (name, email) VALUES ('John Doe', 'john.doe@example.com')")
cursor.execute("INSERT INTO patrons (name) VALUES ('Jane Smith')")

cursor.execute("INSERT INTO books (title, author, isbn) VALUES ('The Hitchhiker''s Guide to the Galaxy', 'Douglas Adams', '978-0345391803')")
cursor.execute("INSERT INTO books (title, author, isbn) VALUES ('Pride and Prejudice', 'Jane Austen', '978-0141439518')")
cursor.execute("INSERT INTO books (title, author, isbn) VALUES ('1984', 'George Orwell', '978-0451524935')")
cursor.execute("INSERT INTO books (title, author, isbn) VALUES ('To Kill a Mockingbird', 'Harper Lee', '978-0061120084')")


conn.commit()

## Insert borrowed books data

### Subtask:
Add some sample data into the `borrowed_books` table, ensuring the foreign key constraints are satisfied.

**Reasoning**:
Insert sample data into the borrowed_books table, ensuring the foreign key constraints are satisfied by using existing patron_id and book_id values, and then commit the changes.

In [ ]:
cursor.execute("INSERT INTO borrowed_books (patron_id, book_id, borrow_date) VALUES (1, 1, '2023-10-26')")
cursor.execute("INSERT INTO borrowed_books (patron_id, book_id, borrow_date) VALUES (2, 2, '2023-10-26')")
cursor.execute("INSERT INTO borrowed_books (patron_id, book_id, borrow_date) VALUES (1, 2, '2023-10-27')")

conn.commit()

## Query data

### Subtask:
Write and execute SQL queries to demonstrate the relationships between the tables, for example, listing which books a specific patron has borrowed.

**Reasoning**:
Write and execute a SQL query to join the tables and list borrowed books, then fetch and display the results.

In [15]:
cursor.execute('''
SELECT
    p.name AS patron_name,
    b.title AS book_title,
    bb.borrow_date
FROM
    borrowed_books bb
JOIN
    patrons p ON bb.patron_id = p.patron_id
JOIN
    books b ON bb.book_id = b.book_id
''')

borrowed_books_data = cursor.fetchall()

for row in borrowed_books_data:
    print(row)

OperationalError: no such table: borrowed_books

## Close connection

### Subtask:
Close the database connection.

**Reasoning**:
Call the close method on the database connection object to close the connection.

In [ ]:
conn.close()

## Summary:

### Data Analysis Key Findings

*   A SQLite database named `library.db` was created and connected to using Python's `sqlite3` library in Google Colab.
*   Three tables were successfully created within the database: `patrons`, `books`, and `borrowed_books`.
*   The `borrowed_books` table was designed with foreign key constraints linking `patron_id` to the `patrons` table and `book_id` to the `books` table.
*   Sample data was inserted into all three tables.
*   An SQL query using `JOIN` clauses successfully retrieved and displayed the patron name, book title, and borrow date for all entries in the `borrowed_books` table, demonstrating the relationships between the tables.

### Insights or Next Steps

*   The process effectively demonstrates how to perform basic database operations (connect, create tables, insert data, query) using SQL within a Colab environment.
*   Further steps could involve adding more complex queries (e.g., finding books borrowed by a specific patron, counting borrowed books), adding return dates to the `borrowed_books` table, or implementing error handling for database operations.

ETL

# Understanding the ETL Model

When working with data, especially from different sources, you'll often hear about **ETL**. ETL stands for:

*   **Extract:** Getting data from its source (like files, other databases, or APIs).
*   **Transform:** Cleaning, processing, and changing the data into the format you need.
*   **Load:** Putting the transformed data into its destination (like our SQLite database).

Think of it like preparing ingredients for a meal:

*   **Extract:** You get the ingredients from the grocery store (the source).
*   **Transform:** You wash, chop, and season the ingredients (cleaning and processing).
*   **Load:** You put the prepared ingredients into the pot to cook (the destination).

In our library example, we've already done a simple form of ETL:

*   **Extract:** We're getting data from our Python code's lists and dictionaries.
*   **Transform:** We're not doing much complex transformation here, but you might imagine converting dates to a specific format or cleaning up messy text.
*   **Load:** We're loading the data into our SQLite database tables.

ETL is a crucial process for data analysis and warehousing, ensuring data is ready for querying and reporting.