<a href="https://colab.research.google.com/github/JulTob/SQL/blob/master/SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL
SQL in Colab.

In [1]:
%pip install ipython-sql
%load_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.12/dist-packages (0.4.1)
Requirement already satisfied: prettytable<1 in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (1.4.49)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython>=1.0->ipython-sql) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.12/dist-packages (from ipython>=1.0->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.12/dist-packages (from ipython>=1.0->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython>=1.0->ipython-sql) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython>=1.0->ipython-sql) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.12/dist-packages (from ipython>=1.0->ipython-sql) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython>=1.0->ipython-sql) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (3.2.4)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.14)

In [2]:
%pip install -U SQLAlchemy==1.4.49 ipython-sql==0.4.1

Requirement already satisfied: SQLAlchemy==1.4.49 in /usr/local/lib/python3.12/dist-packages (1.4.49)
Requirement already satisfied: ipython-sql==0.4.1 in /usr/local/lib/python3.12/dist-packages (0.4.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.12/dist-packages (from SQLAlchemy==1.4.49) (3.2.4)
Requirement already satisfied: prettytable<1 in /usr/local/lib/python3.12/dist-packages (from ipython-sql==0.4.1) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.12/dist-packages (from ipython-sql==0.4.1) (7.34.0)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from ipython-sql==0.4.1) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from ipython-sql==0.4.1) (1.17.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.12/dist-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.12/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.12/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.12/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.9.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.14)

In [3]:
%load_ext sql
%sql sqlite://  -- in-memory database; gets wiped when the kernel resets

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [4]:
# To save to a file you must use
# %sql sqlite:///my_database.db

**You** can use the `sqlite3` library to work with SQLite databases directly in python in Colab. SQLite is a filebased database, so you don't need a separate database server.

In [5]:
import sqlite3
import pandas as pd

# What are Databases and SQL?

Imagine you have a massive collection of information, like all the books in a library, or all the customers of a store. How do you keep it organized so you can quickly find what you need, add new information, or update existing details? That's where **databases** come in!

A database is essentially an organized collection of data. Think of it like a digital filing system that stores information in a structured way, usually in tables with rows and columns (like spreadsheets). This structure makes it easy to manage and work with large amounts of data efficiently.

Now, how do you interact with this organized data? You use a language called **SQL** (Structured Query Language). SQL is the standard language for managing and manipulating relational databases. With SQL, you can:

*   **Create** new databases and tables.
*   **Insert** new data into tables.
*   **Query** (ask questions of) the data to retrieve specific information.
*   **Update** existing data.
*   **Delete** data.

In short, if a database is the organized filing system, SQL is the language you use to talk to the filing system and get things done!

Before creating it, I like to guarantee a clean slate, so we don’t get the “table already exists” error.

In [21]:
%%sql
DROP TABLE IF EXISTS users;
-- Restarts the table

CREATE TABLE users (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER);

Empty DataFrame
Columns: []
Index: []

INTEGER PRIMARY KEY gives each row a unique ID. We don’t have to assign it manually!

In [22]:
%%sql
INSERT INTO users (name, age)
    VALUES ('Alice', 30);
INSERT INTO users (name, age)
    VALUES ('Bob', 25);
INSERT INTO users (name, age)
    VALUES ('Charlie', 17);
INSERT INTO users (name, age) VALUES ('Diana', 27);
INSERT INTO users (name, age) VALUES ('Eren', 29);
INSERT INTO users (name, age) VALUES ('Frieren', 99);
INSERT INTO users (name, age) VALUES ('Gandalf', 2000);
INSERT INTO users (name, age) VALUES ('Harry', 17);
INSERT INTO users (name, age) VALUES ('Innigo', 17);
INSERT INTO users (name, age) VALUES ('Jotaro', 17);
INSERT INTO users (name, age) VALUES ('Katniss', 16);
INSERT INTO users (name, age) VALUES ('Logan', 17);
INSERT INTO users (name, age) VALUES ('Mario', NULL);
INSERT INTO users (name, age) VALUES ('Naruto', 16);
INSERT INTO users (name, age) VALUES ('Ororo', 23);
INSERT INTO users (name, age) VALUES ('Peter', 16);
INSERT INTO users (name, age) VALUES ('Roronoa', 19);
INSERT INTO users (name, age) VALUES ('Spike', 28);
INSERT INTO users (name, age) VALUES ('Tintin', 25);
INSERT INTO users (name, age) VALUES ('Usopp', 17);
INSERT INTO users (name, age) VALUES ('Velma', 23);
INSERT INTO users (name, age) VALUES ('Willow', 35);
INSERT INTO users (name, age) VALUES ('Xena', 31);
INSERT INTO users (name, age) VALUES ('Yoshi', 6);
INSERT INTO users (name, age) VALUES ('Zuko', 13);

Empty DataFrame
Columns: []
Index: []

In [23]:
%%sql
SELECT * FROM users LIMIT 30;

    id     name     age
0    1    Alice    30.0
1    2      Bob    25.0
2    3  Charlie    17.0
3    4    Diana    27.0
4    5     Eren    29.0
5    6  Frieren    99.0
6    7  Gandalf  2000.0
7    8    Harry    17.0
8    9   Innigo    17.0
9   10   Jotaro    17.0
10  11  Katniss    16.0
11  12    Logan    17.0
12  13    Mario     NaN
13  14   Naruto    16.0
14  15    Ororo    23.0
15  16    Peter    16.0
16  17  Roronoa    19.0
17  18    Spike    28.0
18  19   Tintin    25.0
19  20    Usopp    17.0
20  21    Velma    23.0
21  22   Willow    35.0
22  23     Xena    31.0
23  24    Yoshi     6.0
24  25     Zuko    13.0

The %sql magic returns a pretty table by default, but we can also pull the whole table into pandas to play with it in Python:

In [24]:
result = %sql SELECT * FROM users;
df = result
df.head()

   id     name   age
0   1    Alice  30.0
1   2      Bob  25.0
2   3  Charlie  17.0
3   4    Diana  27.0
4   5     Eren  29.0

# Asking slightly smarter questions

### Filter

Show me users older than 20, sorted from oldest to youngest:

In [25]:
%%sql
SELECT name, age
FROM users
WHERE age > 20
ORDER BY age DESC;

       name   age
0   Gandalf  2000
1   Frieren    99
2    Willow    35
3      Xena    31
4     Alice    30
5      Eren    29
6     Spike    28
7     Diana    27
8       Bob    25
9    Tintin    25
10    Ororo    23
11    Velma    23

Show me everyone, but sorted alphabetically in reverse!

In [27]:
%%sql
SELECT *
    FROM users
    ORDER BY name DESC;

    id     name     age
0   25     Zuko    13.0
1   24    Yoshi     6.0
2   23     Xena    31.0
3   22   Willow    35.0
4   21    Velma    23.0
5   20    Usopp    17.0
6   19   Tintin    25.0
7   18    Spike    28.0
8   17  Roronoa    19.0
9   16    Peter    16.0
10  15    Ororo    23.0
11  14   Naruto    16.0
12  13    Mario     NaN
13  12    Logan    17.0
14  11  Katniss    16.0
15  10   Jotaro    17.0
16   9   Innigo    17.0
17   8    Harry    17.0
18   7  Gandalf  2000.0
19   6  Frieren    99.0
20   5     Eren    29.0
21   4    Diana    27.0
22   3  Charlie    17.0
23   2      Bob    25.0
24   1    Alice    30.0

We’ve been using %sql magic, which is convenient. If you want “pure Python” control, we connect to the same file with sqlite3:

In [28]:
import sqlite3
import pandas as pd

connection = sqlite3.connect('my_database.db')
cursor     = connection.cursor()

We can run queries:

In [29]:
cursor.execute("""
    SELECT name, age
    FROM users
    WHERE age IS NOT NULL
    ORDER BY age;
""")

rows = cursor.fetchall()
for row in rows:
    print(row)

('Yoshi', 6)
('Zuko', 13)
('Katniss', 16)
('Naruto', 16)
('Peter', 16)
('Charlie', 17)
('Harry', 17)
('Innigo', 17)
('Jotaro', 17)
('Logan', 17)
('Usopp', 17)
('Roronoa', 19)
('Ororo', 23)
('Velma', 23)
('Bob', 25)
('Tintin', 25)
('Diana', 27)
('Spike', 28)
('Eren', 29)
('Alice', 30)
('Xena', 31)
('Willow', 35)
('Charlie', 35)
('Charlie', 35)
('Charlie', 35)
('David', 40)
('David', 40)
('David', 40)
('Frieren', 99)
('Gandalf', 2000)

And use pandas directly:

In [30]:
users_df = pd.read_sql_query("SELECT * FROM users;", connection)
users_df

    id     name     age
0    1    Alice    30.0
1    2      Bob    25.0
2    3  Charlie    17.0
3    4    Diana    27.0
4    5     Eren    29.0
5    6  Frieren    99.0
6    7  Gandalf  2000.0
7    8    Harry    17.0
8    9   Innigo    17.0
9   10   Jotaro    17.0
10  11  Katniss    16.0
11  12    Logan    17.0
12  13    Mario     NaN
13  14   Naruto    16.0
14  15    Ororo    23.0
15  16    Peter    16.0
16  17  Roronoa    19.0
17  18    Spike    28.0
18  19   Tintin    25.0
19  20    Usopp    17.0
20  21    Velma    23.0
21  22   Willow    35.0
22  23     Xena    31.0
23  24    Yoshi     6.0
24  25     Zuko    13.0
25  26  Charlie    35.0
26  27    David    40.0
27  28  Charlie    35.0
28  29    David    40.0
29  30  Charlie    35.0
30  31    David    40.0

When we’re done:

In [31]:
connection.close()

Now the same code will raise an error.

In [32]:
users_df = pd.read_sql_query("SELECT * FROM users;", connection)
users_df

ProgrammingError: Cannot operate on a closed database.